<h2>注文履歴一覧</h2>
<% @order.each do |order| %>
  <p>購入日時</p>
  <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S') , admin_order_path(order.id) %>
  <p>購入者</p>
  <%= order.customer.last_name + order.customer.first_name %>
  <p>注文個数</p>
  <%= order.order_items.sum(:amount) %>



<% end %>