<div class = "d-flex align-items-center justify-content-center">
<h1>About</h1>
</div>
<div class = "text-center">
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p>お子さんからお年寄りまでお召し上がりいただけるよう、</p>
  <p>さまざまなバリエーションをご用意しております。</p>
  <p>また、全国へ発送可能なので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p>
</div>

</div>