  <div class = "container">
<h2>商品一覧</h2>

        <div class = "row">
         <div class = "col-sm-4">
           <div class="d-flex flex-sm-wrap">

        <% @items.each do |item| %>
           </div>
        <%= image_tag item.image %>
        <figcaption class="figure-caption">
          <%= link_to item.name, item_path(item.id) %>
          ¥<%= item.price %>
        </figcaption>

        <% end %>

</div>
</div>
</div>

